.password {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 2px;
    input{
      color: black;
    }
    .icon {
      margin-top: 9px;
      margin-right: 6px;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }
  }